<h1>Your order</h1>

<div class="card-product-selected">
  <% @ordered_meals.each do |ordered_meal| %>
    <p><%= ordered_meal.meal.title %></p>
    <p><%= ordered_meal.quantity %></p>
    <p><%= ordered_meal.meal.price %></p>
  <% end %>
</div>
<h2>Total price</h2>
<button>
<%= link_to 'Confirm order', order_confirmation_path(order) %>
</button>
