<a class="btn btn-ghost" href="#">Closest to you</a>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card-product">
        <img src="https://m.bettybossi.ch/static/rezepte/x/bb_bbzb220215_0006a_x.jpg" />
        <div class="card-product-infos">
                <div class="row product-distance" >
                  <h2 id="title">Product name</h2>
                  <h2 id="distance">Distance</h2>
                </div>

                <div class="row">
                  <p>Product description with <strong>relevant info</strong> only.</p>
                </div>

                <div class="row">
                  <h2>Price</h2>
                  <%= link_to "#MEALSHOW", class: "meal-order" do %>
                  <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMvPamkzw8Kwv1jeH80n1DWGKAY6bm31VZ4g&usqp=CAU" %>
                  <% end %>
                </div>

        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
        <h2>Product name</h2>
        <h2>Price</h2>
        <h2>Distance</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
        <h2>Product name</h2>
        <h2>Price</h2>
        <h2>Distance</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>
  </div>
</div>
