<h1>My meals</h1>

<ul>
  <li>
    <% @meals.each do |meal| %>
      <h3><%= meal.title %></h3>
      <p><%= meal.description %></p>
      <p><%= meal.price %></p>
      <p><%= link_to "Delete", meal_path(meal), method: :delete, data: { confirm: "Are you sure?" } %></p>
    <% end %>
  </li>
</ul>
