<h1>My meals</h1>
<<<<<<< HEAD

<ul>
  <li>
    <% @meals.each do |meal| %>
      <h3><%= meal.title %></h3>
      <p><%= meal.description %></p>
      <p><%= meal.price %></p>
    <% end %>
  </li>
</ul>
=======
>>>>>>> master
