.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 12px;
  margin-bottom: 16px;
}

.btn-ghost:hover {
  opacity: 1;
}

.browse {
  display: flex;
  justify-content: center;
  margin-top: 6px;
  width: 100%;

  .btn-search {
    text-align: center;
    color: white;
    border: 1px solid rgb(51, 139, 51);
    background-color:rgb(51, 139, 51);
    justify-content: center;
    text-align: center;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    width: 18%;
    margin: 6px;
    margin-bottom: 12px;
  }

  .btn-search a {
    text-decoration: none;
    color: white;
  }

  .btn-search:hover {
    opacity: 1;
  }
}


.button-create-a-meal {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.button-create-a-meal:hover {
  color: white;
  background-color: rgb(51, 139, 51);
  border: 1px solid rgb(51, 139, 51);
}

.create-a-meal {
  display: flex;
  justify-content: center;
}
.button-create-a-meal2 {
  color: white;
  border: 1px solid white;
  padding: 6px;
  border-radius: 15px;
  width: 40%;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-decoration: none;
  background-color: rgb(51, 139, 51);
  border: 1px solid rgb(51, 139, 51);
}

.button-create-a-meal2:hover {
  color: rgb(51, 139, 51);
  background-color: white;
  border: 1px solid rgb(51, 139, 51);
}


.button-create-cook {
  margin-bottom: 12px;
  width: 100%;
  height: 36px;
  color:white;
  background-color: rgb(51, 139, 51);
  border: 1px solid rgb(51, 139, 51);
  border-radius: 15px;

  .input {
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(51, 139, 51);
  width: 100%;
  height: 24px;
 }
}

.button-create-cook:hover {
  color:rgb(51, 139, 51);
  background-color: #F4F4F4;
  border: 1px solid rgb(51, 139, 51);
}

.button-maybe-later {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 36px;
  color:black;
  border: 1px solid black;
  background-color: #F4F4F4;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  border-radius: 15px;
  margin-bottom: 6px;
}

.button-maybe-later a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  padding: 6px;
  color: black;
}

.button-maybe-later:hover {
  background-color:  #4A4A4A;
  border: 1px solid  #4A4A4A;

  a {
    color: white;
  }
}

.index {
  display: flex;
  justify-content: center;
}

.index2 {
  display: flex;
  justify-content: right;
}

.back-to-index {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  color:white;
  background-color: rgb(51, 139, 51);
  border: 1px solid rgb(51, 139, 51);
  border-radius: 15px;
}

.back-to-index a {
  color: white;
  padding: 6px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}



.back-to-index-button {
  margin-top: 12px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background-color: #F4F4F4;
  border-radius: 15px;

}

.back-to-index-button a {
  padding: 6px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color:rgb(22, 21, 21);
}

.back-to-index-button:hover {
  color:white;
  background-color: rgb(51, 139, 51);
}
.back-to-index-button:hover a {
  color:white;
  background-color: rgb(51, 139, 51);
}
