.card-cook {
  overflow: hidden;
  width: 100%;
  background: rgb(236, 232, 232);
  margin-left: 12px;
  margin-bottom: 12px;
  border-radius: 15px;
}

.card-cook > img {
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.card-cook h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-cook p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-cook .card-cook-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-cook-infos .card-cook-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
