.list-meals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 6px;
}

.map-users {
  width: 660px;
  margin-left: 48px;
  position: sticky;
  top: 20px;
}

.card-product {
  overflow: hidden;
  height: 160px;
  background: rgb(236, 232, 232);
  box-shadow: 0 0 25px #4A4A4A;
  display: flex;
  width: 360px;
  margin-left: 12px;
  margin-bottom: 12px;
  border-radius: 15px;
  border: solid 1px #4A4A4A;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  border-radius: 15px;
}

.card-product-infos {
  position: relative;
  width: 200px;
  margin-top: 0px;
}

.card-product h2 {
  text-align: center;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.card-product p {
  text-align: center;
  padding: 5px;
  height: 54px;
  width: 100%;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
}

.card-product .pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}


.card-product .meal-order img {
  height: 36px;
  width: 36px;
  margin-right: 4px;
  margin-bottom: 4px;
}
