.card-product-selected {
  overflow: hidden;
  height: 160px;
  background: rgb(236, 232, 232);
  display: flex;
  width: 100%;
  margin-left: 12px;
  margin-bottom: 12px;
  border-radius: 15px;
  border: solid 1px red;
}

.card-product-selected > img {
  height: 100%;
  width: 160px;
  object-fit: cover;
  border-radius: 15px;
  border: solid 1px red;
}

.card-product-selected .card-product-selected-infos {
  position: relative;

  .title {
    text-align: left;
    font-size: 18px;
    margin-left: 6px;
    margin-top: 1px;
    font-weight: bolder;
    border: solid 1px red;
  }

  .description {
    text-align: left;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 2px;
    border: solid 1px red;
  }

  .quantity {
    text-align: left;
    font-size: 18px;
    margin-left: 6px;
    margin-top: 2px;
    font-weight: bold;
    border: solid 1px red;
  }

  .price {
    text-align: left;
    font-size: 18px;
    margin-left: 6px;
    margin-top: 2px;
    border: solid 1px red;
  }

  .add-button {
    border: solid 1px red;
    width: 36px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    img{
      width: 100%;
    }
  }

  .delete-button {
    border: solid 1px red;
    width: 36px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    img{
      width: 100%;
    }
  }

  .edit-button {
    border: solid 1px red;
    width: 36px;
    position: absolute;
    bottom: 10px;
    right: 80px;
    img{
      width: 100%;
    }
  }
}
