.mapboxgl-popup {
  max-width: 100vw;
}

.mapboxgl-popup-content {
  background-color: transparent;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.mapboxgl-ctrl-geocoder--input {
  display: none;
}
