.navbar-lewagon {
  justify-content: space-between;
  display: flex;
  background: white;
  border: 1px solid;
  position:sticky;
  top:0;
  height: 64px;
  z-index: 100;
  background-color: white;
  transition: 0.5s background-color ease;
  border-bottom: 1px solid gray;
}

.navbar-container {
  position: relative;
}

.basket{
  position: relative;
  height: 60px;

  .navbar-basket img {
    margin-left: 20px;
    height: 40px;
    width: 40px;
  }

  .pastille {
    position: absolute;
    border: 1px solid rgb(51, 139, 51);
    width: 24px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(51, 139, 51);
    color: white;
    margin-bottom: 6px;
    top:6px;
    left:42px;
    }
}


.brand {
  display: flex;
  height: 60px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);


  .navbar-brand-name {
    justify-content: center;
    text-decoration: none;
    color: black;
    margin-top: 1rem;

    h4 a {
      justify-content: center;
      text-decoration: none;
      color: black;
    }
  }
}

.button-become-cook{
  display: flex;
  align-items: center;
  height: 60px;
  padding-right: 10px;

  .button-become {
    color: black;
    border: 1px solid black;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    transition: opacity 0.3s ease;
    text-decoration: none;
    margin-right: 10px;

  }

  .button-become:hover {
    color: white;
    background-color: rgb(51, 139, 51);
    border: 1px solid rgb(51, 139, 51);
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .nav-link {
    font-family: Helvetica;
    color: black;
    font-weight: normal;
  }

  .navbar-lewagon a {
    text-decoration: none;
  }
}
